<form [formGroup]="createAuthForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput name="name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput name="login" formControlName="login" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput name="password" formControlName="password" required>
  </mat-form-field>
  <button>Sign up</button>
</form>
