mat-card {
  display: grid;
  gap: 1rem;
  background-color: whitesmoke;
  min-width: 20rem;
  max-height: 55vh;
  overflow-y: scroll;
  @media (max-height: 920px) {
    max-height: 50vh;
  }
  @media (max-height: 620px) {
    max-height: 45vh;
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: cadetblue;
}

mat-card-title {
  padding: 0.5rem;
}

.tasks-list {
  display: grid;
  gap: 0.5rem;
  min-height: 20rem;
}

.column-buttons {
  justify-content: center;
}

form {
  display: grid;
}

.form-buttons {
  display: flex;
  justify-content: center;
}
