html {
  font-size: 10px;
}

html {
  height: 100%;
}

body {
  padding: 1rem 2rem 1rem;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background-color: whitesmoke;
  max-height: 95vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.form-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  max-width: 40rem;
  h4 {
    margin: 1rem;
  }
  form {
    display: grid;
    gap: 1.8rem;
  }
}
