<ng-container>
  <div class="form-container">
    <h3>{{"boards.create" | translate}}</h3>
    <form [formGroup]="createBoardForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput value="" formControlName="title" required>
        <mat-error
          *ngIf="createBoardForm.get('title').hasError('minlength') ||
               createBoardForm.get('title').hasError('maxlength')">
          {{"error.title"| translate}}
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" [disabled]="createBoardForm.invalid" (click)="onSubmit()">{{"buttons.submit"| translate}}</button>
    </form>
    <button mat-button mat-dialog-close>{{"buttons.close" | translate}}</button>
  </div>
</ng-container>
