<ng-container>
  <div class="form-container">
    <h4>Create new task</h4>
    <form [formGroup]="createTaskForm" class="form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error
          *ngIf="createTaskForm.get('title').hasError('minlength') ||
               createTaskForm.get('title').hasError('maxlength')">
          The title length should be from 5 to 20 letters.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
        <mat-error
          *ngIf="createTaskForm.get('description').hasError('minlength') ||
               createTaskForm.get('description').hasError('maxlength')">
          The description length should be from 10 to 50 letters.
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" [disabled]="createTaskForm.invalid" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</ng-container>
