mat-card {
  display: grid;
  position: relative;
  padding: 2rem;
  gap: 1.5rem;
  justify-items: center;
  background-color: cadetblue;
  @media (max-height: 740px) {
    gap: 0.5rem;
    padding: 1.5rem 2rem 1.5rem;
  }
}

mat-card-title {
  justify-self: start;
  padding-left: 1.6rem;
  text-align: center;
  font-size: 2.4rem;
  @media (max-height: 740px) {
    font-size: 1.8rem;
  }
}

mat-card-actions {
  justify-self: start;
  padding: 0 0 0 1.6rem;
}

mat-card-actions {
  button {
    color: crimson;
    font-size: 1.6rem;
  }
}
