mat-card {
  display: grid;
  position: relative;
  padding: 2rem 2rem 4rem;
  gap: 1.5rem;
  justify-items: center;
  background-color: cadetblue;
  overflow: auto;
}

mat-card-title {
  justify-self: start;
  padding: 2rem 2rem 1rem 4rem;
  text-align: center;
  font-size: 2.4rem;
}

mat-card-content {
  padding-bottom: 3rem;
}

mat-card-actions {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}
mat-card-actions {
  button {
    color: crimson;
    font-size: 1.6rem;
  }
}
